<%- include("partials/header.ejs") %>

<div class="dynamic-full-post">
    <div class="container-buttons">
        <button type="button" class="btns" data-id="<%= postId.id %>">Delete</button>
        <button type="button" class="btns" data-id="<%= postId.id %>">Edit</button>
    </div>
    <h1> <%= postId.title %> </h1>
    <% if( postId.isUserPresent ) { %>
        <div class="dynamic-post-content user">
            <%= postId.content %>
        </div>
    <% } else { %>
        <div class="dynamic-post-content existing">
            <%- postId.content %>
        </div>
    <% } %>
    
    <a href="/" class="back-to-home">Click to go back at all posts</a>
</div>
<% if(postId.image) { %>
        <img src="<%= postId.image %>" alt="<%= postId.title %>" class="image-post">
<% } %>
<script src="/js/post-actions.js"></script>

<%- include("partials/footer.ejs") %>