<%- include("partials/header.ejs") %>

<div class="all-posts">
    <% console.log(posts) %>
    <% posts.forEach(countPost => { %>
       <div class="home-post-card">
            <h2><a class="postTitle" href="/posts/<%= countPost.id %>/view"> <%= countPost.title %> </a></h2>
            <div class="home-post-preview"> 
                <p> <%- countPost.content.substring(0, 280) %>... </p>  <!-- substring is used to show just 280 characters -->
          </div> 
          <a class="editButton" href = "/posts/<%= countPost.id %>/edit">Edit</a>
          <a class="viewButton" href = "/posts/<%= countPost.id %>/view">View</a>
        </div>             
    <% }); %>
</div>
<%- include("partials/footer.ejs") %>